body {
    background: url("https://i.postimg.cc/TY28jTqJ/bg4-ia.jpg") no-repeat center
      center fixed;
    background-size: cover;
    font-family: "Gabarito", sans-serif;
    margin: 20px;
  }
  
  .logo {
    text-align: end;
  }
  
  .logo img {
    width: 40%;
